trabajofinal/target/
trabajofinal/pom.xml.tag
trabajofinal/pom.xml.releaseBackup
trabajofinal/pom.xml.versionsBackup
trabajofinal/pom.xml.next
trabajofinal/release.properties
trabajofinal/dependency-reduced-pom.xml
trabajofinal/buildNumber.properties
